// COLORS
$primary-color: #990008;
$secondary-color: #7d0007;

//$primary-color: #8E0E00;
//$secondary-color: #1F1C18;

//$primary-color: #870000;
//$secondary-color: #190A05;

$white-color: #fff;

$background: #fce4d4;

$dark-grey: #333333;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
